.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button, .btn, .btn--primary{
    background-color:#FFF;
    border: 1px solid #009CDB;
    border-radius: 0.2rem;
    color: oo9CDB;
    cursor:pointer;
    font-family:inherit;
    font-size: 0.75rem;
    font-weight:700;
    margin:0.1rem;
    padding:calc(0.25rem -1px) calc(1rem - 1px);

}

button + button, .btn + button, .btn--primary + button, button + .btn, button + .btn--primary, .btn + .btn, .btn--primary + .btn, .btn + .btn--primary, .btn--primary + .btn--primary {
    margin-left: 0.25rem; }

.btn--primary {
    display:inline-grid;
    width:40%;
    height:100%;
    background-color: #009cdb;
    color: #fff;
 }

.btn--disabled {
    display:inline-grid;
    height:100%;
    background-color: #CCCCCC;
}

.btn--danger {
    display:inline-grid;
    width:40%;
    height:100% ;
    border-color: #F22 !important;
    color: #F22 !important;
}

.btn--indented {
  margin: 0.25rem 0 0 40%; }

.navigation-bar{
    height: 1rem;
    background-color: #010101;
    color: #FEFEFE;
    padding: 1rem;
    font-weight:700;
}

.title-bar{
    height: 1rem;
    background-color: #38A5FF;
    color: #FEFEFE;
    padding:0.75rem;
    font-weight: 600;
}

.title-options{
    display:flex;
    margin: -0.55rem -0.25rem;
}

.title-options .btn, .title-options .btn--primary {
  line-height: 1rem;
  padding: 0.5rem;
}

.right{
    float:right;
}

.content-wrap{
    white-space:pre-wrap;
}

th, td {
    padding:0.5rem;
}

.title-col{
    width:10%;
}

.content-col{
    width:75%;
}

.button-col{
    width:15%;
}

.table__stories{
    width:80%;
    margin-right: auto;
    margin-left:auto;
    border-collapse: collapse;
}

.table__newstory, .table__showstory{
    width:80%;
    margin-right:auto;
    margin-left:auto;
    border-collapse:collapse;
}

.input-title{
    width:25%;
}

.input-content{
    width:100%;
    resize:none;
}

.submit-button{
    height:2rem !important;
    width:4rem !important;
}

.submit-row{
    padding:0rem !important;
}

.story-listitem{
    border-bottom:1px solid #EEE;
}

.table-header {
    background-color: #EEE;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
